/*

GENERAL

*/

/* cuerpo */

body {
    cursor: default;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--fondo-color);
    color: white;
}

a {
    text-decoration: none;
    color: white
}

/* barra de navegacion */

.nav-bar {
    padding: 20px;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    background-color: var(--fondo-color);
    box-shadow: 0px 0px 15px black;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-log-op {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
}

.nav-lg-img {
    width: 50px;
    border-radius: 50%;
    transition: .5s;
}

.nav-lg-img:hover {
    box-shadow: 0px 0px 10px;
    transform: scale(1.2);
}

.nav-options-li {
    display: flex;
    margin: 0;
}

.nav-options-li li {
    list-style: none;
    padding: 0 30px;
}

.nav-op-element {
    font-size: 20px;
    transition: .5s;
}

.nav-op-element:hover {
    transform: scale(1.3);
}

.nav-btn-supp {
    margin-right: 15%;
    width: 170px;
    height: 50px;
    border: 2px solid var(--discord-color);
    box-shadow: 0px 0px 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.nav-btn-supp:hover {
    background-color: var(--discord-color);
    transform: scale(1.1);
}

.nav-btn-sup-logo {
    width: 20%;
    padding: 0 15px;
    color: white!important;
}

.nav-btn-supp-tx {
    padding: 0 15px;
    font-size: 18px;
}

/* pie de pagina */

.foo-cont {
    padding: 20px;
    background-color: var(--footer-color);
    justify-content: center;
    align-items: center;
}

.foo-terms {
    opacity: .5;
}

.foo-copy {
    opacity: .7;
    margin: 0px 5px;
    font-size: 14px;
}

.foo-cop-terms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foo-prop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.dev-qader {
    padding: 1px 8px;
    opacity: .4;
    background-color: rgb(8, 8, 8);
}

.web-developer {
    display: flex;
    align-items: center;
}

.web-dev-dispose {
    display: flex;
    align-items: center;
    transition: .5s;
}

.web-dev-dispose:hover {
    transform: scale(1.05);
}

.web-dev-text {
    padding-bottom: 4px;
}

.web-dev-logo {
    width: 25px;
}

/*

PAGINA PRINCIPAL

*/


/* vista principal */

.contenido {
    padding-top: 4%;
}

.principal {
    padding: 9% 0;
}

.pr-back {
    background: linear-gradient(0deg, #333333c9, #333333c9), url(../assets/cuptoast-crumb_1.gif) fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pr-back::before {
    content: '';
    opacity: .5;
}

.principal-avatar {
    width: 12%;
    border: 2px solid var(--fondo-color);
    box-shadow: 0 0 5px;
    border-radius: 50%;
}

.principal-titulo {
    font-size: 55px;
    margin-bottom: 0;
}

.principal-slog {
    font-size: 25px;
    letter-spacing: 3px;
}

.principal-dev {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.prin-dev-avatar {
    width: 60px;
    border-radius: 20px;
    margin-right: 2%;
    box-shadow: 0px 0px 5px;
}

.prin-dev-nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; 
}

.prin-dev-nombre-tx {
    font-size: 20px;
    padding-bottom: 4px;
}

.prin-dev-nombre-logo {
    width: 25px;
}

.centrado {
    text-align: center;
}

/* about */

.about-us {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--fondo-color-2);
    padding: 40px;
}

.about-title-disp {
    letter-spacing: 2px;
    font-size: 32px;
    padding-top: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    width: 60%;
}

/* lista de motivos para tener el bot */

.atribs-content {
    width: 80%;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}

.atr-cont {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 15s infinite ease-in-out;
}

.atr-cont li {
    width: 100%;
    list-style: none;
    position: relative;
}

.atr-img-size {
    width: 100%;
    opacity: .4;
}

.atr-text-cont {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(88, 88, 88, 0.233);
    border-radius: 40px;
    box-shadow: 0 0 30px 50px rgba(88, 88, 88, 0.233);
}

.atr-text-title {
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 35px;
}

.atr-text-desc {
    font-size: 20px;
    margin: 0 50px;
}

/* estadisticas */

.stats {
    background: var(--fondo-color-2);
    padding: 10px 0 50px 0;
}

.stats-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-cuad-disp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stats-text p {
    font-size: 22px;
    margin: 10px 0;
}

.stats-text span {
    font-size: 28px;
}

/* parte final */

.end {
    margin: 30px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.end a {
    margin-top: 20px;
}

.end-img {
    box-shadow: -20px 7px 26px -22px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.end-btn-inv {
    position: relative;
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 26px;
    background: linear-gradient(305deg, var(--discord-color), rgb(106, 105, 209), rgb(110, 85, 203), rgb(61, 86, 137));
    overflow: hidden;
    transition: .7s;
}

.end-btn-inv::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 30px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.506);
    transform: skewX(-30deg);
    transition: .7s;
}


.end-btn-inv:hover::before {
    left: 200px;
}

.end-btn-inv:hover {
    box-shadow: 0 0 10px;
    transform: scale(1.2);
}

/*

TERMINOS DE PRIVACIDAD

*/

.terms-cont {
    text-align: center;
    padding-top: 15vh;
}

.terms-tit hr {
    opacity: .7;
    width: 75%;
}

.terms-tit h1 {
    font-size: 42px;
    margin-bottom: 50px;
}

.terms-subtit hr {
    opacity: .7;
    width: 65%;
}

.terms-subtit h1 {
    opacity: .7;
    font-size: 35px;
}

.terms-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms-text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.terms-text2 p {
    margin-top: 30px;
    font-size: 19px;
    width: 65%;
}

.terms-text p {
    margin-top: 30px;
    font-size: 19px;
    width: 65%;
}

.terms-img {
    border-radius: 50%;
    width: 200px;
}

.terms-tx-li {
    text-align: left;
    font-size: 17px;
}

/* otros */

::-webkit-scrollbar {
    background: linear-gradient(0deg, #646464c9, #646464c9);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 50px;
}

/* variables */

:root {
    --fondo-color: rgb(39, 39, 39);
    --fondo-color-2: rgb(45, 45, 45);
    --discord-color: rgb(33, 137, 255);
    --loader-color-1: rgb(39, 39, 39);
    --loader-color-2: rgb(32, 32, 32);
    --loader-color-3: rgb(32, 27, 23);
    --spin-color-1: rgb(231 143 84);
    --spin-color-2: rgb(219, 199, 23);
    --spin-color-3: rgb(241 202 122);
    --scrollbar-color: rgb(48, 48, 48);
    --footer-color: rgb(30, 30, 30);
}

/* animaciones xd */

.aparecer {
    animation: aparecer ease-in-out .3s;
}

.desaparecer {
    animation: desaparecer ease-in-out .3s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes desaparecer {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide {
    0% {
        margin-left: 0;
    }
    15% {
        margin-left: 0;
    }
    25% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    55% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    75% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}